@{
  Layout = "_Layout";
}

@model TheBest.Models.Cuisine

<h4>Add a new cuisine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Style)
  @Html.TextBoxFor(model => model.Style)

  <input type ="submit" value="Add new cuisine" class="btn btn-default"/>
}

<p>@Html.ActionLink("Show all cuisines", "Index")</p>